<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>HallServlet</servlet-name>
    <servlet-class>ru.job4j.cinema.servlets.HallServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>AccountSaveServlet</servlet-name>
    <servlet-class>ru.job4j.cinema.servlets.AccountSaveServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>TicketSaveServlet</servlet-name>
    <servlet-class>ru.job4j.cinema.servlets.TicketSaveServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>AccountSaveServlet</servlet-name>
    <url-pattern>/account</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HallServlet</servlet-name>
    <url-pattern>/hall</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TicketSaveServlet</servlet-name>
    <url-pattern>/ticket</url-pattern>
  </servlet-mapping>

</web-app>
